.header {
    text-align: center;
    color: #343434;
    padding-top: 2em;
    padding-bottom: 2em;
}

.side-bar {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: auto;
}

.table-hover tbody tr:hover td {
    background: rgb(191, 225, 239);
    transition: 0.3s;
}

.table.table-custom tr td {
    border-bottom: 1px solid #c2c2c2; /* Change the color you want to set */
}

.btn-circle {
    background-color: #ed665d;
    border-color: #dc4d5a;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    line-height: 0;
    color: black;
}

.urlCell {
    max-width: 250px;
    word-wrap: break-word;
}

.nameCell {
    max-width: 150px;
    word-wrap: break-spaces;
}

.iframe {
    background-color: #ffffff;

}

.h1 {
    display: inline;
}

.h4 {
    display: inline;
}

.h3 {
    display: inline;
}

.h6 {
    display: inline;
}

.contentOverflow {
    overflow-x: auto;
}

.scroll{
    background-color: #f4feff;
    width: 250px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    margin: 10px 0 0 0;
    /*max-height: 30%;*/
}

.commentLine {
    margin-bottom: 15px;
}

.axisx .tick line{
    stroke-width: 0.2px;
    stroke-dasharray: 4 2;
}

.tick text{
    font-size: 0.8rem;
}

.axisy text{
    font-weight: bold;
}

.avatarCell img{
    width: 30px;
    height: 30px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border:1px solid #ddd
}
